/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER STYLES */
.navigation-bar {
  background-color: #333;
  color: #fff;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.navigation-bar .menu {
  display: flex;
  align-items: center;
}

.navigation-bar .menu a,
.navigation-bar .menu button {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navigation-bar .menu a:hover,
.navigation-bar .menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.navigation-bar .menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* HOME PAGE STYLES */
.home {
  text-align: center;
  padding: 2rem 3rem;
}

.home p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* RECIPE LIST STYLES */
.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

/* RECIPE CARD STYLES */
.recipe-card {
  border: 3px solid #ddd;
  padding: 1.2rem;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.recipe-card img {
  width: 100%;
  border-radius: 8px;
}

.recipe-info h3 {
  margin: 0.5rem 0;
}

/* RECIPE FORM STYLES */
.new-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  width: 50%;
  margin: 0 auto;
}

.new-recipe-form input,
.new-recipe-form textarea {
  padding: 0.5rem;
}

.new-recipe-form button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.new-recipe-form .input-err {
  font-size: 12px;
  font-weight: 800;
  color: brown;
  text-align: left;
  margin-top: 0;
}

.new-recipe-form .form-control {
  width: 100%;
}

.new-recipe-form .form-control > input,
textarea {
  width: 100%;
}

/* delete button */
.btn-delete {
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  padding: 0.2rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 0.6rem;
}

.btn-delete:hover {
  background-color: brown;
  cursor: pointer;
}

.light {
  background-color: #fff;
}

.dark {
  background-color: #333;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}

/* DARK MODE ------------------------------------------------- */


.dark .navigation-bar {
  background-color: #333;
  color: #fff;
}

.dark .navigation-bar .menu a,
.dark .navigation-bar .menu button {
  color: #fff;
  border-color: #fff;
}

.dark .navigation-bar .menu a:hover,
.dark .navigation-bar .menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.dark .slider-container {
  background-color: darkgray;
}

.dark .slider-container.dark .slider-button {
  left: calc(100% - 22.5px);
  background-color: rgb(71, 71, 71);
}

.dark .slider-container.light .slider-button {
  left: 2.5px;
  background-color: rgb(216, 216, 216);
}

.dark .recipe-card,
.dark .btn-delete {
  background-color: #47464684;
  color: #fff;
}

.dark .btn-delete {
  background-color: #20202084;
  color: #fff;
}

.dark .btn-delete:hover {
  background-color: rgb(102, 102, 102);
}

.dark .home {
  color: #fff;
}

.dark .btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #020202;
  --color-outline: #20202080;
  --color-shadow: #1b1a1a80;
}


/* ANIMATED ADD RECIPE BUTTON  */
.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #0ef;
  --color-outline: #2c4766;
  --color-shadow: #1e3045;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
      fill: white;
  }
  50% {
      fill: var(--color-background);
  }
  100% {
      fill: white;
  }
}

@-webkit-keyframes btn-content {
  0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
  }
}

